/* You can add global styles to this file, and also import other style files */
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: #23292d;
  -webkit-font-smoothing: antialiased;
  font: 300 16px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif;
  display: flex;
}
a {
  text-decoration: none;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-family: "cornerstone";
}

h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}

@font-face {
  font-family: "cornerstone";
  src: url("/assets/fonts/cornerstone.woff2") format("woff2"),
    url("/assets/fonts/cornerstone.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  margin: 0;
  outline: 0;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  font-family: "cornerstone";
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn__ok {
  background: #0f9675;
  color: #fff;
}
.btn__ok:hover {
  background: #0a7d61;
}
.btn__warning {
  background: #ab131c;
  color: #fff;
}
.btn__warning:hover {
  background: #880c14;
}
